/*jumbotron------------------------------------------------------------------ */
.jumbotron {
    background-image: url('/assets/site/images/banner-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    padding: 0;
    border-bottom: 2px solid #e9e9ea;
}
.jumbotron h1 {
    font-weight: normal;
}
.jumbotron .content {
    margin-bottom: 0;
}
.jumbotron .container {
    padding: 0;
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-weight: normal;
    }
}

/* introduction-------------------------------------------------------------- */
.introduction-row h3 {
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 15px;
}

.image-bottom {
    margin-top: 10px;
}

.border-box {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-box p {
    margin-bottom: 0;
}

.border-box img {
    height: 90px;
    width: 90px;
    margin-bottom: -22px;
}

.red-box img {
    height: 70px;
    margin-bottom: 0;
}

.info-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blue-box span {
    color: #0f72b8;
}
.green-box span {
    color: #209048;
}
.red-box span {
    color: #d53f46;
}
.collaboration-content {
    padding: 0;
}
.collaboration-content p:first-child {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1em;
}
.collaboration-content p:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
}
@media (max-width: 767px) {
    .about-row > div > div {
        margin-top: 20px;
    }
}
/* collaboration------------------------------------------------------------- */
.resources-teaser h2,
.resources-teaser h3 {
    margin-bottom: 25px;
}
.resources-teaser h3 {
    font-size: 20px;
}
.collab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.collab-description {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collab-image div {
    background-color: #fff;
    border: 1px solid #e0e1e2;
    padding: 10px 10px;
    min-height: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collab-image > div > a {
    width: 100%;
}

@media (max-width: 767px) {
    .collab {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .collab-image {
        text-align: center;
    }

    .collab-image div {
        width: 160px;
        margin: 0 auto;
        min-width: 100px;
    }
}

/* page bottom -------------------------------------------------------------- */
.page-bottom h3 {
    margin-top: 4%;
}
