/* Page title Section ------------------------------------------------------- */
.jumbotron {
    background-image: url('/assets/site/images/banner-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #e9e9ea;
    padding: 0;
}
.jumbotron h1 {
    font-weight: normal;
}

@media (max-width: 991px) {

    .forum-right {
        padding-top: 20px;
    }
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-weight: normal;
    }
}

.jumbotron .content {
    margin-bottom: 0;
}
.jumbotron .container {
    padding: 0;
}
nav.navbar {
    margin-bottom: 15px;
}

.box-content.form-info strong {
    color: #000;
}
/* top text ----------------------------------------------------------------- */
.contact-us {
    padding-top: 0;
}
.contact-us .row:first-child {
    margin-bottom: 20px;
}
.contact-us .image-icon {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

.contact-us .text-center p {
    font-size: 20px;
    line-height: 33px;
}

.contact-us label {
    font-size: 16px;
}


/* forum control ------------------------------------------------------------ */
.form-control {
    width: 100%;
    border-radius: 4px !important;
}

.form-group {
    margin-bottom: 15px;
    width: 65%;
}

.form-group.form-group-full {
    width: 100%;
}

.form-control.mce_inline_error {
    border-color: #6b0505;
}

#mc_embed_signup div.mce_inline_error {
    border-radius: 4px;
}
/* side box ----------------------------------------------------------------- */
.form-right {
    display: flex;
    flex-direction: column;
}
.form-info {
    display: flex;
    flex-wrap: wrap;
}
.image-frame {
    flex-basis: 50%;
    padding-top: 10px;
}
.forum-pictures .image-frame:first-child {
    padding-right: 10px;
}
.forum-pictures {
    display: flex;
}
.forum-pictures img {
    height: 100%;
}
/* responsive --------------------------------------------------------------- */
@media (max-width: 767px) {
    .form-control {
        width: 100%;
    }
}

.form-control[name='QUESTIONS'] {
    width: 100%;
}
.form-group {
    margin-bottom: 15px;
}

/* Styles for forms.oicr.on.ca version.
/-------------------------------------------------------------- */
/**
 * Contact US
 */

.btn {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: normal;
}
.survey-end-container {
    margin-left: 0;
}
.survey-end-container button {
    color: #000;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border-color: #0f72b8;
}
.survey-end-container button:hover,
.survey-end-container button:focus {
    color: #d53f46;
    background-color: #fff;
    text-decoration: underline;
}

.asterisk {
    color: #337ab7;
}
#mce-responses {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #337ab7;
}

#app-forms h3.title {
    display: none;
}

#greptcha-insert {
    margin-bottom: 20px;
}
