/*jumbotron------------------------------------------------------------------ */
.jumbotron {
    background-image: url('/assets/site/images/banner-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 2px solid #e9e9ea;
}
.jumbotron h1 {
    font-weight: normal;
}
.jumbotron .content {
    margin-bottom: 0;
}
.jumbotron .container {
    padding: 0;
}

/* collapsible -------------------------------------------------------------- */
.well .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.dropdown-card {
    flex-basis: 20%;
    padding: 5px;
}
.dropdown-card-content {
    flex-grow: 1;
    height: 100%;
}
.dropdown-card p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
}
.dropdown-card a {
    font-size: 16px;
    font-weight: normal;
}
.dropdown-card h3 {
    line-height: normal;
}

.collapsible > button.collapsed {
    font-weight: normal;
}

.collapsible > button {
    font-weight: normal;
}

@media (max-width: 992px) {
    .dropdown-card {
        flex-basis: 50%;
    }
}

/* dropdown-card fixed height for isotope */

@media (max-width: 767px) {
    .dropdown-card {
        flex-basis: 100%;
    }
    .dropdown-card h3 {
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    .dropdown-card {
        height: unset;
    }
}

@media (min-width: 768px) {
    .dropdown-card {
        height: 160px;
    }
}

@media (min-width: 992px) {
    .dropdown-card {
        height: 173px;
    }
}

@media (min-width: 1200px) {
    .dropdown-card {
        height: 260px;
    }
}
