hr {
    height: 2px;
    background: #e0e1e2;
}

/*jumbotron ----------------------------------------------------------------- */
.jumbotron {
    background-image: url('/assets/site/images/banner-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #e9e9ea;
    padding: 0;
}
.jumbotron h1 {
    font-weight: normal;
}

.jumbotron .content {
    margin-bottom: 0;
}
.jumbotron .container {
    padding: 0;
}
nav.navbar {
    margin-bottom: 15px;
}
/*search HEADER ----------------------------------------------------------------- */
.publication-filters,
.search-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.search-input .publication-filters {
    justify-content: center;
}

#publication-search .form-group {
}

.search-header .form-group {
    width: 40%;
    display: inline-flex;
}

.search-header .form-control {
    width: 71%;
}

.search-header label {
    padding-top: 5px;
    width: 70%;
}

/* NEW publications --------------------------------------------------------- */
#oicr-ui-core-publications .sub-title-highlight,
#oicr-ui-core-publications .type-presentation .sub-title-highlight {
    background-image: none;
    padding-left: 20px;
}

#oicr-ui-core-publications .filter-bar {
    width: auto;
    font-size: 14px;
    line-height: 3;
    padding: 10px 20px;
    border: none;
    background-color: rgba(204, 204, 204, 0.31);
    border: 1px solid #ccc;
    padding-bottom: 10px !important;
    margin-bottom: 0;
}

#oicr-ui-core-publications .filter-bar .btn {
    border-color: #0f72b8;
}

#oicr-ui-core-publications .filter-bar .btn-default:focus,
#oicr-ui-core-publications .filter-bar .btn-default:hover {
    background-color: #fafafb;
    color: #d53f46;
}

#oicr-ui-core-publications fieldset {
    border-bottom: none;
}

#oicr-ui-core-publications .filter-bar input {
    background-color: #f9f9fa;
}

#oicr-ui-core-publications .sub-content p {
    margin-bottom: 0;
}

#oicr-ui-core-publications .sub-content p a {
    font-size: 18px;
    line-height: 26px;
}

#oicr-ui-core-publications .sub-content p a:hover {
    color: #23527c;
}

#oicr-ui-core-publications .view-pub-and-pres-by-group .views-row {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

#oicr-ui-core-publications p.field-title_txt,
#oicr-ui-core-publications .field-title,
#oicr-ui-core-publications .view-pub-and-pres-by-group .field-title {
    font-weight: 400;
}

@media (min-width: 992px) {
    .filter-bar .upper-bar div {
        width: 100%;
        display: inline;
    }

    #oicr-ui-core-publications .upper-bar input[type='text'],
    #oicr-ui-core-publications .filter-bar select,
    #oicr-ui-core-publications .filter-bar div {
        display: inline;
    }

    #oicr-ui-core-publications .upper-bar .form-group {
        margin-right: 5px;
    }

    #oicr-ui-core-publications .filter-bar fieldset {
        display: inline;
        width: 65%;
    }

    #oicr-ui-core-publications .filter-bar .lower-bar select {
        width: 38%;
    }

    #oicr-ui-core-publications .filter-bar .lower-bar select:first-child {
        margin-right: 15px;
    }

    #oicr-ui-core-publications .lower-bar > fieldset > .form-group {
        margin-right: 10px;
    }

    #oicr-ui-core-publications .filter-bar div.lower-bar,
    #oicr-ui-core-publications .filter-bar div.upper-bar {
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #oicr-ui-core-publications .filter-bar fieldset {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .lower-bar .wfui-filters > .form-group > label.control-label {
        margin-bottom: 0;
        line-height: 20px;
    }

    #oicr-ui-core-publications
        .lower-bar
        .wfui-filters
        > .form-group
        > div.wfui-filters-item {
        padding-bottom: 15px;
    }
}

/*search--------------------------------------------------------------------- */
#publication-search .form-group {
    width: unset;
}

#publication-search .form-control {
    background-image: url('/assets/site/images/icon-search.svg');
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    min-width: 250px;
    padding-left: 40px;
}

#publication-search .keyword-search {
    min-width: 220px;
}

/*search result-------------------------------------------------------------- */
.publication-title {
    font-family: Futura, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 10px;
}
.result-description {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
}

.reference-number {
    font-size: 14px;
    line-height: 24px;
}

.publication-filters {
    padding: 25px;
}
.publication-filters .form-group {
    margin: 0 5px;
}
.publication-filters .form-control {
    min-width: 190px;
}
.publication-filters .form-group label {
    padding-top: 8px;
    padding-right: 5px;
}
.article::before {
    content: '';
    height: 60px;
    width: 60px;
    display: inline-block;
    background-image: url('/assets/site/images/icon-publication.svg');
    background-repeat: no-repeat;
    background-size: 50px;
    padding: 25px 0;
    position: absolute;
    margin-left: -70px;
}
/* form group --------------------------------------------------------------- */
.publication-filters .form-group {
    display: inline-flex;
}
.form-group .label {
    padding-top: 8px;
}
.article {
    position: relative;
}
/* typography --------------------------------------------------------------- */
p a {
    font-size: 16px;
}
#oicr-ui-core-publications
    .view-pub-and-pres-by-group
    .type-presentation
    .sub-content
    .field-date {
    border-left: 1px solid #474747;
}
/* responsive --------------------------------------------------------------- */
@media (max-width: 1200px) {
    .search-header .form-group {
        width: 51%;
    }

    .search-header .form-control {
        width: 65%;
    }
}

@media (max-width: 991px) {
    .publication-filters,
    .search-header {
        flex-direction: column;
    }
    .search-header .form-group,
    .publication-filters .form-group {
        flex-direction: column;
        width: 100%;
    }
    .publication-filters .form-group {
        margin: 0 0 10px 0;
    }
    .search-header label {
        padding-top: 5px;
        width: 90%;
    }

    .search-header .form-control {
        width: 100%;
    }

    .article::before {
        display: none;
    }

    /* delete this? */
    .article::after {
        content: '';
        height: 60px;
        width: 60px;
        display: none;
        background-image: url('/assets/site/images/icon-publication.svg');
        background-repeat: no-repeat;
        background-size: 50px;
        padding: 25px 0;
        position: absolute;
        margin-left: -70px;
    }

    .article::before {
        display: none;
    }

    .form-inline .keyword-search {
        width: 100%;
    }
}
