/* Page title Section ------------------------------------------------------- */
.jumbotron {
    background-image: url('/assets/site/images/banner-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #e9e9ea;
    padding: 0;
    z-index: 0;
}
.jumbotron h1 {
    font-size: 50px;
    font-weight: normal;
    background-color: #e9eff7;
}
.jumbotron .content {
    margin-bottom: 0;
}
.jumbotron .container {
    padding: 0;
}
.research-header {
    background-image: url('/assets/site/images/icon-genetic-research.svg'),
        url('/assets/site/images/icon-bioinformatics.svg');
    background-size: auto 135px;
    background-position: 80% 25px, 20% 15px;
    background-repeat: no-repeat, no-repeat;
}
@media (max-width: 1199px) {
    .jumbotron .banner-content {
        padding: 40px 0;
    }
}
@media (max-width: 991px) {
    .jumbotron h1 {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    .jumbotron h1 {
        font-size: 35px;
        font-weight: normal;
    }

    .research-header {
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media (max-width: 634px) {
    .research-header {
        background-position: 80% 35px, 20% 25px;
    }
}
nav.navbar {
    margin-bottom: 15px;
}
/* research section --------------------------------------------------------- */

.research-teaser div p:first-child {
    margin-bottom: 10px;
}
.research-teaser img {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
}

.research-teaser strong {
    font-size: 20px;
    line-height: 30px;
}

.research-teaser div {
    text-align: left;
}

@media (max-width: 992px) {
    .research-teaser div {
        text-align: center;
    }
}

/* ongoing research --------------------------------------------------------- */
.ongoing-research .image-icon {
    height: 60px;
    width: 60px;
    margin-bottom: -10px;
}
.ongoing-research-list {
    display: flex;
    flex-wrap: wrap;
}
.ongoing-research-list div {
    padding-right: 0;
    padding-bottom: 15px;
}
.project-description {
    height: 100%;
}
@media (max-width: 767px) {
    .ongoing-research-list div {
        padding-right: 15px;
    }
}
@media (min-width: 992px) {
    .ongoing-research-list > div.col-md-4 {
        width: 33.3%;
    }
}
/* resources section -------------------------------------------------------- */
.flex-box {
    display: flex;
    flex-wrap: wrap;
}
.resources h2 {
    margin-bottom: 30px;
    width: 100%;
}
.resources .image-icon {
    margin-top: -5px;
    margin-right: 10px;
}

.resources .resource-logo-container {
    padding-top: 2px;
}

.resources .resource-logo-container:nth-child(3) {
    padding-top: 30px;
    padding-bottom: 10px;
}

.resources .resource-logo-container:nth-child(4) {
    padding-top: 15px;
    padding-bottom:10px;
}

.resources .resource-label {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    background-color: #e9e9e9;
    color: black;
}

.resources .resource-label p {
    text-align: center;
    margin: 0;
    font-size: 13px;
}

.resources .label-side {
    text-align: center;
    padding-left: 0;
}

.page-callout h3 {
    margin-top: 10px;
}

@media (max-width: 991px) {
    .page-callout h3 {
        margin-top: 7%;
    }
}

@media (max-width: 767px) {
    .resources .resource-logo-container {
        width: 50%;
        margin-left: 25%;
    }
}

@media (min-width: 992px) {
    .resources .resource-label {
        width: 108px;
        height: 25px;
    }

    .col-md-9 {
        padding-left: 0px;
    }
}