/* jumbotron ---------------------------------------------------------------- */
.jumbotron {
    background-image: url('/assets/site/images/banner-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 2px solid #e9e9ea;
}
.jumbotron h1 {
    font-weight: normal;
}
.jumbotron .content {
    margin-bottom: 0;
}
.jumbotron .container {
    padding: 0;
}

@media (max-width: 767px) {
    .jumbotron h1 {
        font-weight: normal;
    }
}
/* investigator section ----------------------------------------------------- */
.investigator-section h2 {
    font-size: 24px;
    margin-bottom: 25px;
}
/* team grid ---------------------------------------------------------------- */
.well .row,
.team-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.team-list {
    justify-content: center;
}

@media (min-width: 992px) {
    .person {
        flex-basis: 16.667%;
    }
}

.card-content {
    padding: 10px;
}
.dropdown-card {
    padding: 5px;
}
.person {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
}

@media (min-width: 1200px) {
    .person {
        height: 330px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .person {
        height: 365px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .person {
        height: 470px;
    }
}

.box-content {
    padding: 15px 10px;
}

.dropdown-card-content h5 {
    font-size: 16px;
}

.dropdown-card p {
    margin-bottom: 0;
}
.dropdown-card a {
    font-size: 18px;
    font-weight: 600;
}
.wfui-card-body {
    border: 2px solid #e9e9ea;
    height: 100%;
    background-color: #fff;
    padding: 3px;
}
.wfui-card-body a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.wfui-card-body p {
    color: black;
    line-height: 24px;
}
.member-name {
    color: black;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}
.member-position {
    margin-bottom: 10px;
    font-size: 14px;
}
.bottom-text {
    margin-bottom: 15px;
    width: 100%;
    flex-basis: 65.447%;
    display: flex;
}

.team-msg {
    height: 125px;
    margin-bottom: 45px;
    padding: 3px;
    background-color: #fff;
    text-align: left;
    border: 2px solid #e9e9ea;
}

.team-msg .box-content {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-msg a {
    margin-left: 15px;
    text-decoration: none;
    display: inline-block;
}

@media (min-width: 1200px) {
    .team-msg a {
        margin-left: 5px;
    }
}

.team-msg p {
    margin-bottom: -5px;
}

.alumni-boxes .collapsible > button.collapsed {
    font-weight: normal;
}

.alumni-boxes .collapsible > button {
    font-weight: normal;
}

.team-msg p:first-child {
    font-family: Futura, sans-serif;
    font-size: 20px;
    margin-bottom: 0;
}
.team-msg p:nth-child(2) {
    font-size: 14px;
}
.team-msg img {
    margin: 15px 10px 0 8px;
    float: left;
    height: auto;
    width: 50px;
}
.team-msg .box-content {
    width: 100%;
    height: 100%;
    background-color: #d8e2ea;
}

.dropdown-card-content {
    flex-grow: 1;
    background-color: #eef0f1;
    height: 255px;
}

/* modal -------------------------------------------------------------------- */
.modal-dialog {
    position: relative;
}
.modal-content {
    box-shadow: none;
    border-radius: 0;
}
.modal-header {
    border: none;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-body {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.modal-title {
    font-size: 30px;
    margin-bottom: 5px;
    color: black;
}
.modal-body img {
    width: 40%;
    margin-left: 15px;
    float: right;
}
.modal-body p:first-child {
    margin-bottom: 20px;
}
.modal-position {
    font-size: 20px;
    margin-bottom: 20px;
}
.modal-content .btn-next,
.modal-content .btn-prev {
    position: absolute;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    opacity: 0.65;
}
.modal-content .btn-next {
    right: -90px;
    top: 45%;
    background-image: url('/assets/site/images/icon-arrow-black.svg');
    background-position: -5px center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
.modal-content .btn-prev {
    left: -90px;
    top: 45%;
    background-image: url('/assets/site/images/icon-arrow-black.svg');
    background-position: -5px center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.modal-header .close {
    margin-top: 0;
    border: solid 2px #000;
    border-radius: 50%;
    width: 25px;
    color: #000;
}
.close {
    opacity: 0.6;
    font-weight: normal;
}
.close:hover {
    opacity: 0.9;
}

div.modal-header > button.close {
    padding-top: 0;
}

/* responsive --------------------------------------------------------------- */

@media (max-width: 1349px) {
    .dropdown-card-content {
        height: 275px;
    }
}

@media (max-width: 991px) {
    .dropdown-card-content {
        height: 225px;
    }
}

@media (max-width: 767px) {
    .dropdown-card {
        flex-basis: 50%;
    }
    .person {
        flex-basis: auto;
    }
    .bottom-text {
        flex-basis: 92%;
    }
    .dropdown-card-content {
        height: unset;
    }
}

@media (max-width: 576px) {
    .dropdown-card {
        flex-basis: 100%;
    }
    .person {
        flex-basis: auto;
    }
    .bottom-text {
        flex-basis: 92%;
    }
}

.dropdown-card {
    margin-bottom: 10px;
}
